.timeline-row {
  $root: &;
  position: relative;
  background: white;
  height: 48px;
  display: flex;

  &__column {
    width: 113px;
    flex: 0 0 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-right: 1px solid var(--border);

    &__cell {
      width: inherit;
      height: 38px;
    }
    &__cell:hover {
      border: 1px solid rgba(195, 199, 255, 1);
      border-radius: 8px;
      background-color: rgba(101, 112, 255, 0.1);
      cursor: pointer;
    }
  }

  &:hover {
    

    #{$root}__column {
      background-color: rgba(238, 240, 255, 1);
      border-right: unset;
    }
  }
}

.test-bar {
  position: absolute;
  top: 8px;
  bottom: 8px;
  background: #0066cc22;
  border: 1px solid #0066cc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0066cc;
  font-weight: bold;
  box-shadow: 0 0 0 1px rgba(222, 224, 255, 1);
  border-radius: 8px;
  background-color: rgba(237, 238, 255, 1);
}
