<div
  class="wot-order-strip"
  [ngClass]="{
    'wot-order-strip--success': false,
    'wot-order-strip--blocked': false,
  }"

  [cdkContextMenuTriggerFor]="orderMenu"
  [cdkContextMenuTriggerData]="{ $implicit: order }"
  [cdkMenuTriggerFor]="orderMenu"
  [cdkMenuTriggerData]="{ $implicit: order }"
  (click)="$event.stopPropagation()"
>
  <p>CNC Machine 1</p>

  <div>
    <wot-badge></wot-badge>
    <button [cdkMenuTriggerFor]="orderMenu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <title>Three Horizontal Dots</title>
        <circle cx="5" cy="12" r="2" fill="currentColor" />
        <circle cx="12" cy="12" r="2" fill="currentColor" />
        <circle cx="19" cy="12" r="2" fill="currentColor" />
      </svg>
    </button>
  </div>
</div>


<ng-template #orderMenu let-order>
  <div class="context-menu" cdkMenu>
    <button cdkMenuItem (cdkMenuItemTriggered)="onEdit(order)">
      Edit
    </button>
    <button cdkMenuItem (cdkMenuItemTriggered)="onDelete(order)">
      Delete
    </button>
  </div>
</ng-template>
